*.pem
*.o
*.class
*.bin
*.lock

.cxx

# Local configuration file (sdk path, etc)
local.properties

/**/.idea/*
/**/.cxx/*
/**/.gradle/*
/**/.externalNativeBuild/*
/**/build/*
/**/build-cache/*

/.idea
/.gradle
/.kotlin


